[TesseractMod]
; Unique mod identifier.
id="Rainbow Pong by PhosXD"
; Mod display name.
name="Rainbow Pong"
; Author of the mod.
author="PhosXD"
; String representation of the mod version.
version_string="1.0.0"
; Version of the mod.
version_number=1
; All game API versions this mod is expected to work for.
for_game_versions=[1]
; All Tesseract versions this mod is expected to work for.
for_tesseract_versions=[1]
description_short="Makes the pong ball pretty :>. Also makes it impossible to win lol."
description_long="Silly example mod for the example pong game.

This mod needs to be loaded BEFORE all other mods to work.

Changes:
	- Adds color-changing pong ball.
	- Overrides bot logic to always copy the exact position of the pong ball, making it impossible to beat.
"
