[TesseractMod]
; Unique mod identifier.
id="Rainbow Pong by Tesseract"
; Mod display name.
name="Rainbow Pong"
; Author of the mod.
author="Tesseract"
; String representation of the mod version.
version_string="1.0.0"
; Short description.
description_short="Makes the pong ball pretty :>. Also makes it impossible to win lol."
; Long description.
description_long="Silly example mod for the example pong game.

This mod needs to be loaded BEFORE all other mods to work.

Changes:
	- Adds color-changing pong ball.
	- Overrides bot logic to always copy the exact position of the pong ball, making it impossible to beat.
"
; Public link to the mod.
; Can be a store or repository hosting the mod.
source="https://raw.githubusercontent.com/phosxd/Tesseract/main/src/Example Mods/Rainbow Pong"

; Version of the mod.
version_number=1
; All game API versions this mod is expected to work for.
for_game_versions=[1]
; All Tesseract versions this mod is expected to work for.
for_tesseract_versions=[1]
; Direct link to a repository hosting the mod's files.
; This can be used to automatically check for updates & update the mod if the direct source is correct.
direct_source="https://github.com/phosxd/Tesseract/tree/main/src/Example Mods/Rainbow Pong"
