[plugin]

name="Tesseract"
description="A (soon to be) advanced modding platform for Godot."
author="PhosXD"
version="0.0.1"
script="plugin.gd"

[game]
; Version 
api_version=1
; Path to load regular Godot PCKs from.
patches_path="user://PATCHES"
; Path to load Tesseract mods from (folder or TMOD).
mods_path="user://MODS"
; Path to load all mods into.
; If path ends with "*" will put the mod into a sub-directory with the name of the mod (or file name if details are unavailable).
load_mods_into_path="Example Game"
; Paths mods are not allowed to overwrite or add to.
forbidden_paths=["addons/"]
; If true, Tesseract will load in mods that don't have any configuration, name, or other details.
; These mods will not be accesible to the game in any way.
allow_mods_without_details=false
; If true, mods can overwrite existing files.
allow_overwriting_files=true
; If true, mods can add new files.
allow_creating_files=true
; If true, mods can have & use GDScript files.
allow_mod_scripts=true

; You can add "mod types" that apply specific rules to certain types of mods (if the mod specifies the type).
[MOD TYPE: example]
; Path to load Tesseract mods from (folder or TMOD).
load_from_path="user://EXAMPLE MODS"
; Path to load mods into.
load_into_path=""
; If true, mods can overwrite existing files.
allow_overwriting_files=true
; If true, mods can add new files.
allow_creating_files=true

; Template for a theme mod type.
[MOD TYPE: theme]
load_from_path="user://THEMES"
load_into_path="Themes/*" ; Load into the Themes folder & into a sub-directory with the name of the mod file name or mod name.
allow_overwriting_files=false
allow_creating_files=true
allow_mods_without_details=true
allow_mod_scripts=false
