[TesseractMod]
; Unique mod identifier.
id="Underwater by Tesseract"
; Mod display name.
name="Underwater"
; Author of the mod.
author="Tesseract"
; String representation of the mod version.
version_string="1.0.0"
; Short description.
description_short="Adds an animated underwater background."
; Public link to the mod.
; Can be a store or repository hosting the mod.
source="https://github.com/phosxd/Tesseract/tree/main/src/Example Mods/Underwater"

; Version of the mod.
version_number=1
; All game API versions this mod is expected to work for.
for_game_versions=[1]
; All Tesseract versions this mod is expected to work for.
for_tesseract_versions=[1]
; Direct link to a repository hosting the mod's files.
; This can be used to automatically check for updates & update the mod if the direct source is correct.
direct_source="https://raw.githubusercontent.com/phosxd/Tesseract/main/src/Example Mods/Underwater"

; The path being used for development. To get this path right click on the root directory of the mod & select "Copy Path".
; This will be used to map resource paths for use inside of mods & not just within the game.
; It is VERY important that this path is accurate, does not conflict with other mods, & does not conflict with of the game's paths either.
; Set this path to empty if you do not reference any mod resources in your mod.
real_path="res://Example Mods/Underwater/"
