[TesseractMod]
; Unique mod identifier.
id="Colored Players by PhosXD"
; Mod display name.
name="Colored Players"
; Author of the mod.
author="PhosXD"
; String representation of the mod version.
version_string="1.0.0"
; Version of the mod.
version_number=1
; All game API versions this mod is expected to work for.
for_game_versions=[1]
; All Tesseract versions this mod is expected to work for.
for_tesseract_versions=[1]
description_short="Makes player 1 blue & player 2 red."
